<!DOCTYPE html>
<html>
  <head>
    <title>ミケが望む健康</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="header">ミケが望む健康</div>
    <div id="imageContainer">
      <div id="image"></div>
      <div id="gage"></div>
    </div>
    <div id="selectContainer">
      <% logs.forEach((log)=>{ %>

      <!-- カテゴリごとのdiv -->
      <div id="<%= log.logName + 'Container' %>" class="logContainter">
        <!-- clearしているかどうかの表示 -->
        <% if(log.results){ %>
        <p>cleared!</p>
        <% } %>

        <!-- ボタンとフォーム -->
        <form action="/" method="post" id="<%= log.logName %>Form">
          <button id="<%= log.idName %>"><%= log.buttonText %></button>
        </form>
      </div>
      <% }); %>
    </div>
    <div id="metaDiv" class="meta"></div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
